<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Trabalhador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h2>Adicionar Trabalhador</h2>
    </header>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('add_trabalhador_route') }}">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo" required>

            <label for="data_contratacao">Data de Contratação:</label>
            <input type="date" id="data_contratacao" name="data_contratacao" required>

            <label for="salario">Salário:</label>
            <input type="number" id="salario" name="salario" required>

            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <button type="submit">Adicionar</button>
        </form>
        <a href="{{ url_for('dashboard') }}"><button>Voltar</button></a>

    </div>
</body>
</html>
